body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: #f4f7f9;
}

a {
  text-decoration: none;
  color: #f1f5f7;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}



.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hedline-box {
  width: 196px;
  min-height: 60px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.contacts-box {
  width: 300px;
}

.telephone {
  width: 145px;
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
  padding-inline-start: 0;
  padding-left: 50px;
}

.user-list {
  width: 300px;
  height: 45px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}


.user-box {
  width: 281px;
}

.user-name {
  font-size: 21px;
  color: #000000;
}

.user-orders {
text-decoration: underline;
color: #32425c;
margin-right: 32px;
list-style: none;
}

.personal-area {
  text-decoration: underline;
  color: #32425c;

}

.area-item {
  color: #32425c;
  list-style-type: disc;
}

.area-item:first-child {
list-style: none;
}

.item-login {
  font-size: 21px;
  color: #000000;
  width: 121px;
  display: block;
  text-align: center;
}

.item-registration {
  font-size: 21px;
  color: #000000;
  width: 150px;
  display: block;
  text-align: center;

}

.search-field {
  width: 270px;
  border: none;
  padding: 12px 0 12px 0;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer;
  background-color: #293449;
  color: #ffffff;
}

.button-panel {
  color: #ffffff;
}



.signature-text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 15px;
}

.signature-first {
  background-color: #e5ac40;
}

.signature-second {
  background-color: #35a9cc;
}

.signature-third {
  background-color: #c682c2;
}

.signature-fourth {
  background-color: #80c180;
}

.signature-fifth {
  background-color: #e5ac40;
}


.signature-button {
  display: block;
  width: 135px;
  padding: 9px 23px;
  border-radius: 3px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}

.signature-item {
  margin-left: 20px;
  padding: 26px 43px 22px 25px;
}

.signature-yellow {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  margin-left: 0;
}

.signature-blue {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
}

.signature-pink {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.signature-green {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.signature-car {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}


.slider {
  width: 620px;
  height: 266px;
  margin: 0px;
  list-style: none;
  padding-left: 0;
  position: relative;

}

.slider-item {
  width: 620px;
  height: 266px;
}

.slider-button {
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  position: absolute;
  bottom: 23px;
  margin-left: 25px;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
}

.slider-text {
  font-size: 18px;
  position: absolute;
  bottom: 170px;
  display: block;
  color: #ffffff;
  line-height: 8px;
  margin-left: 24px;

}

.slider-text h4 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider-text p {
  margin-top: 25px;
}

.slider-link {
  text-align: center;
}


.benefits-up {
  display: flex;
  width: 940px;
  margin-bottom: 20px;
  height: 123px;
}

.benefits-down {
  display: flex;
}


.benefits {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.item-headline {
  display: block;
  width: 183px;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0px;
  margin-bottom: 18px;

}

.prise-wrapper {
  width: 141px;
  min-height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
}

.item-img {
  margin-bottom: 12px;
}

.price {
  font-size: 17px;
  font-weight: 700;
  font-family: "PTSans", "Arial", sans-serif;
  margin: 0;
  color: #ffffff;
}


.price-discount {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through;
  color: #a9a9a9;
  margin: 0px;
  margin-bottom: 13px;

}

.button-popular {
  font-size: 14px;
}

.service-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 38px;
}

.text-efforts {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 398px;
  margin-bottom: 74px;
}

.button-service {
  font-size: 21px;
}


.text-delivery {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  width: 275px;
}

.company-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.item-transport {
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  margin-bottom: 24px;
}

.contacts-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;


}

.delivery-headline {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  color: #32425c;
}

.service-png::after {
  content: "";
  position: relative;
  left: 50px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
}


.item-up {
  font-size: 18px;
  list-style: none;
  color: #f1f5f7;

}

.item-down {
  font-size: 18px;
  list-style: none;
  color: #ffd180;
}

.feedback-wrapper {
  display: inline-block;
}

.copyright {
  width: 228px;
  font-size: 16px;
  color: #ffffff;
  margin: 0;
  line-height: 18px;
}

.developed-text {
  display: inline-block;
  width: 96px;
  min-height: 34px;
  font-size: 16px;
  color: #f1f5f7;
  margin: 0;
}

.feedback-text {
  display: inline-block;
  width: 135px;
  min-height: 34px;
  font-size: 16px;
  color: #f1f5f7;
  margin: 0 53px 0 0;
}

.social-item {
  list-style: none;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 20px;
}

.button-mail {
  color: #ffd180;
}

.button-developed {
  color: #ffd180;
}

.button-user {
  font-size: 21px;
}

.button-users {
  list-style: none;
  text-decoration: underline;
}



.perforators-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #32425c;
}

.perforators-wrapper {
  margin: 0 auto;
  width: 960px;
  padding: 0 10px 0 30px;
  min-height: 89px;
  display: flex;
  align-items: center;
}

.sorting {
  width: 700px;
  min-height: 38px;
  display: flex;
  flex-direction: row;
}

.filter-list {
  display: block;
  width: 220px;
  padding: 0 0 0 18px;
  margin: 0 21px 0 0;

}

.sorting-text {
  min-height: 38px;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
}

.sorting-list {
  display: flex;
  flex-direction: row;
  min-height: 38px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

}

.order-item {
  display: flex;
    align-items: center;
}

.order-increase {
  width: 11px;
  height: 10px;
  background-color: #ee3643;
  margin-right: 11px;
}
.order-decrease {
  width: 11px;
  height: 10px;
  background-color: #ee3643;
}

.sorting-text p {
  margin: 0;
}

.sorting-item {
  list-style: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 38px;
  display: flex;
  align-items: center;
  margin-right: 71px;
}

.sorting-text {
  list-style: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  min-height: 38px;
}

.sorting-button {
  font-size: 13px;
  line-height: 18px;
  color: #ee3643;
}

.dotted-button {
  color: #acaaa5;
  border-bottom: 1px dotted #ee3643;
}

.page-item {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  list-style: none;
}

.page-item:last-child {
  width: 140px;
  height: 38px;
}

.filter-prise {
  font-size: 17px;
  text-transform: uppercase;
}

.manufacturers-headline {
  text-transform: uppercase;
  font-size: 17px;
}


.power-headline {
  font-size: 17px;
  text-transform: uppercase;
}

.power-item {
  font-size: 15px;
  text-transform: uppercase;
  list-style: none;
}

.perforator-text {
  font-size: 30px;
  text-transform: uppercase;
}

.perforator-decryption {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.footer-address {
  width: 322px;
  font-size: 18px;
  color: #f3f7f9;
  font-style: normal;
  margin-top: 32px;
}

.footer-title {
  width: 322px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  margin: 0 0 34px 0;
  justify-content: flex-end;
}

.footer-nav {
  padding-left: 68px;
  padding-top: 37px;
  width: 638px;
}

.footer-item {
  padding: 0 30px;
}

.footer-item:first-child {
  padding-left: 0;
}

.footer-item:last-child {
  padding-right: 0;
}


.footer {
  background-color: #32425c;
}

.down-wrapper {
  width: 100%;
  background-color: #293449;
}

.header-wrapper {
  height: 42px;
  background-color: #293449;
  width: 100%;
}

.header-box {
  min-height: 42px;
  width: 960px;
  padding: 0 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.headline-text {
  margin: 0;
}

.header-middle {
  height: 158px;
  width: 960px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 54px 10px 0 0;
}

.main-nav {
  min-height: 60px;
  width: 960px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  margin-bottom: 119px;
  margin: 0 auto;
  margin-bottom: 119px;
  padding: 0 10px;
}

.nav-item {
  list-style: none;
  display: inline-block;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 55px 0 52px;
  margin: 0;
  font-size: 0;
  list-style: none;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  min-height: 60px;
}

.nav-link {
  font-size: 17px;
  display: block;
  color: white;
}

.popular-wrapper {
  display: flex;
  width: 960px;
  min-height: 89px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 20px;
}

.button-popular {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-right: 26px;
}

.popular-headline {
  margin-top: 33px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.arcticle {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  border: solid 1px #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 21px;

}



.arcticle-wrapper .arcticle:last-child {
  margin-right: 0px;
}

.arcticle-wrapper {
  width: 960px;
  min-height: 318px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 10px;
}

.perforator-catalog article:nth-child(3n) {
  margin-right: 0;
}

.perforator-catalog article {
  margin-bottom: 20px;
}

.headline-box {
  display: flex;
  width: 960px;
  min-height: 89px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 21px;
}

.button-manufacturers {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-right: 26px;
}


.manufacturers-headline {
  margin-top: 33px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.manufacturers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  min-height: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  margin-top: 20px;
  padding: 0 10px;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  border: solid 1px #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.button-service {
  width: 240px;
  height: 61px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  padding-left: 21px;
  padding-top: 21px;
  list-style: none;
}

.service {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.About-flex {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px 86px 10px;
}

.About-us {
  margin-right: 100px;
}

.transport-list {
  list-style: none;
  padding-left: 0;
}

.product-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin-bottom: 23px;
}

.transport-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-overflow: clip;
  width: 450px;
  margin-bottom: 23px;
}

.button-details {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 37px;
}

.text-office {
  width: 195px;
  margin-bottom: 36px;
}

.button-lost {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 46px;
}

.footer-up {
  width: 960px;
  height: 193px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  position: relative;
  width: 220px;
  font-size: 24px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  padding: 10px 0 8px 0;
}




.logo:after {
  position: absolute;
  content: '';
  left: 0;
  top: 41px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.form-search {
  color: #ffffff;
  display: block;
  margin-top: 0;
}

.users-panel {
  display: flex;
    margin: 0;
    padding: 0;
    font-size: 17px;
    list-style: none;
    color: #ffffff;
}

.panel-item {
  width: 150px;
  min-height: 42px;
  display: flex;
 justify-content: center;
 align-items: center;
}


.panel-green {
  background-color: #63a63e;
}

.footer-logo {
  position: relative;
  width: 220px;
  height: 64px;
  background-color: #ee3643;
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px 41px 21px 41px;
}

.footer-logo:after {
  position: absolute;
  ;
  content: '';
  left: 0;
  top: 64px;
  width: 220px;
  height: 4px;
  background: #b52933;
}

.addres {
  font-size: 14px;
  line-height: 24px;
  padding: 4px 0 0 10px;
  color: #32425c;
}

.footer-nav {
  flex-direction: row;
}

.footer-down {
  width: 960px;
  height: 193px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #293449;
  padding-top: 36px;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.social-item {
  margin-right: 3px;
}

.service-list {
  list-style: none;
  padding: 0;
}

.service-buttons {
  padding: 0;
  width: 240px;
  margin-right: 80px;
}

.select-box {
  width: 220px;
  margin: 0;
}

.perforator-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}

.catalog-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.preforator-wrapper {
  width: 960px;
  padding: 0 10px 54px 0;
  margin: 0 auto;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.order-list {
  list-style: none;
}

.content-item {
  color: #000000;
}

.page-wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.content-list {
  list-style: none;
  padding: 0;
  min-height: 30px;
}

.list-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-number {
  color: #000000;
  text-transform: uppercase;
}

.page-item {
  margin-right: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-left: 241px;
  margin-bottom: 127px;
}

.page-item:first-child {
  background-color: #ee3643;
}

.page-first {
  color: #ffffff;
}

.perforator-info {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

.footer-up {
  margin-top: 73px;
}

.user-name {
  font-size: 21px;
  color: #000000;
}
