body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: #f4f7f9;
}

a {
  text-decoration: none;
  color: #f1f5f7;

}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.headline {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

.telephone {
  font-size: 21px;
  color: #ee3643;
}

.link-entrance {
  list-style: none;
}

.item-login {
  font-size: 21px;
  color: #000000;
}

.item-registration {
  font-size: 21px;
  color: #000000;
}

.nav-item {
  list-style: none;
}

.nav-link {
  font-size: 17px;
}

.signature-text {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0;
}

.signature-down {
  font-size: 14px;
  color: #ffffff;
}

.signature-item {
  margin-left: 20px;
}

.signature-yellow {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
  margin-left: 0;
}

.signature-blue {
  width: 300px;
  height: 123px;
  background-color: #3bbce3;
}

.signature-pink {
  width: 300px;
  height: 123px;
  background-color: #dc91d8;
}

.signature-green {
  width: 300px;
  height: 123px;
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.signature-car {
  width: 300px;
  height: 123px;
  background-color: #ffbf47;
}


.slider {
  width: 620px;
  height: 266px;
  margin: 0px;
  list-style: none;
  padding-left: 0;
  position: relative;

}

.slider-item {
  width: 620px;
  height: 266px;
}

.slider-button {
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  position: absolute;
  bottom: 23px;
  margin-left: 25px;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
}

.slider-text {
  font-size: 18px;
  position: absolute;
  bottom: 170px;
  display: block;
  color: #ffffff;
  line-height: 8px;
  margin-left: 24px;

}

.slider-text h4 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider-text p {
  margin-top: 25px;
}

.slider-link {
  text-align: center;
}


.benefits-up {
  display: flex;
  width: 940px;
  margin-bottom: 20px;
  height: 123px;
}

.benefits-down {
  display: flex;
}


.benefits {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.item-headline {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.price {
  font-size: 17px;
  font-weight: 700;
}

.price-discount {
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through;
}

.button-popular {
  font-size: 14px;
}

.service-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 38px;
}

.text-efforts {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 398px;
  margin-bottom: 74px;
}

.button-service {
  font-size: 21px;
}


.text-delivery {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  width: 275px;
}

.company-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.item-transport {
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  margin-bottom: 24px;
}

.contacts-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.delivery-headline {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
}

.item-up {
  font-size: 18px;
  list-style: none;
  color: #f1f5f7;

}

.item-down {
  font-size: 18px;
  list-style: none;
  color: #ffd180;
}

.copyright {
  font-size: 16px
}

.social-item {
  list-style: none;
  width: 42px;
  height: 42px;
  background-color: #212a3a;
  border-radius: 20px;
}

.button-mail {
  color: #ffd180;
}

.button-developed {
  color: #ffd180;
}

.button-user {
  font-size: 21px;
}

.button-users {
  list-style: none;
  text-decoration: underline;
}

.perforators-headline {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #32425c;
  margin-bottom: 54px;
}

.sorting {
width: 700px;
min-height: 38px;
}


.sorting-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.sorting-item {
  list-style: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  white-space: nowrap;
}



.button-prise {
  color: #ee3643;
}

.button-type {
  color: #b6b3ae;
  border-bottom: dotted #ee3643 1px;
}

.button-functional {
  color: #b6b3ae;
  border-bottom: dotted #ee3643 1px;
}

.page-item {
  width: 38px;
  height: 38px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  list-style: none;
}

.page-item:last-child {
  width: 140px;
  height: 38px;
}

.filter-prise {
  font-size: 17px;
  text-transform: uppercase;
}

.manufacturers-headline {
  text-transform: uppercase;
  font-size: 17px;
}


.power-headline {
  font-size: 17px;
  text-transform: uppercase;
}

.power-item {
  font-size: 15px;
  text-transform: uppercase;
  list-style: none;
}

.perforator-text {
  font-size: 30px;
  text-transform: uppercase;
}

.perforator-decryption {
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.footer {
  background-color: #32425c;
}

.footer-down {
  background-color: #293449;
}



.header-wrapper {
  min-height: 42px;
  background-color: #293449;
  width: 100%;
}

.header-box {
  min-height: 42px;
  width: 960px;
  display: flex;
  background-color: #dc91d8;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.header-middle {
  min-height: 158px;
  width: 960px;
  background-color: #8ed78f;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 0 10px;
}

.main-nav {
  min-height: 60px;
  width: 960px;
  display: flex;
  flex-direction: row;
  background-color: #3bbce3;
  margin-bottom: 119px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.popular-wrapper {
  display: flex;
  width: 960px;
  min-height: 89px;
  justify-content: space-between;
  margin: 0 auto;
 padding: 0 10px;
  margin-bottom: 20px;
}

.button-popular {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-right: 26px;
}

.popular-headline {
  margin-top: 33px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.arcticle {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  border: solid 1px #e5e5e5;
}

.arcticle-wrapper .arcticle:last-child {
  margin-right: 0px;
}

.arcticle-wrapper {
  width: 960px;
  min-height: 318px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 10px;
}

.perforator-catalog article:nth-child(3n) {
  margin-right: 0;
}

.perforator-catalog article{
  margin-bottom: 20px;
}

.headline-box {
  display: flex;
  width: 960px;
  min-height: 89px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  margin-top: 21px;
}

.button-manufacturers {
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-right: 26px;
}


.manufacturers-headline {
  margin-top: 33px;
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-weight: 400;
}

.manufacturers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
  min-height: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  margin-top: 20px;
  padding: 0 10px;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  border: solid 1px #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.manufacturers-item:nth-child(4n) {
  margin-right: 0;
}

.button-service {
  width: 240px;
  height: 61px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  padding-left: 21px;
  padding-top: 21px;
  list-style: none;
}

.service {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.service-wrapper {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.About-flex {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 86px;
  padding: 0 10px;
}

.About-us {
  margin-right: 100px;
}

.transport-list {
  list-style: none;
  padding-left: 0;
}

.product-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin-bottom: 23px;
}

.transport-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  text-overflow: clip;
  width: 450px;
  margin-bottom: 23px;
}

.button-details {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 37px;
}

.text-office {
  width: 195px;
  margin-bottom: 36px;
}

.button-lost {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 5px;
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-top: 46px;
}

.footer-up {
  width: 960px;
  height: 193px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  display: block;
}

.address {
  font-size: 18px;
  color: #f3f7f9;
}

.footer-nav {
  flex-direction: row;
}

.footer-down {
  width: 960px;
  height: 193px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px;
}

.service-list {
  list-style: none;
  padding: 0;
}

.service-buttons {
  padding: 0;
  width: 240px;
  margin-right: 80px;
}

.select-box {
  width: 220px;
  margin: 0;
}

.perforator-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}

.catalog-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}

.sorting-wrapper {
  width: 960px;
  margin: 0 auto 21px auto;
  padding: 0 10px;

}

.sorting-item p{
  margin: 0;
}

.filter-text {
  margin-left: 18px;
  margin-right: 188px;
}

.sorting-text {
  margin-right: 139px;
}

.prise-text {
  margin-right: 71px;
}

.type-text {
  margin-right: 65px;
}

.order-list {
  list-style: none;
}

.content-item {
  color: #000000;
}

.page-wrapper {
width: 960px;
padding: 0 10px;
margin: 0 auto;
display: flex;
flex-direction: row;
}

.content-list {
  list-style: none;
  padding: 0;
  min-height: 30px;
}

.list-wrapper {
  width: 960px;
  margin: 0 auto;
  padding:  0 10px;
}

.page-number {
  color: #000000;
  text-transform: uppercase;
}

.page-item {
  margin-right: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
    justify-content: center;
}

.page-list{
display: flex;
flex-direction: row;
padding: 0;
margin-left: 241px;
margin-bottom: 127px;
}

.page-item:first-child {
  background-color: #ee3643;
}

.page-first {
  color: #ffffff;
}

.perforator-info {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

.footer-up {
  margin-top: 73px;
}

.user-name {
  font-size: 21px;
  color: #000000;
}

.user-item {
  color: #32425c;
  text-decoration: underline;
}
